@import './bootstrap.min.css'
@import './font-awesome.css'
@import './jquery-ui.min.css'
@import './jquery-ui.structure.min.css'
@import './jquery-ui.theme.min.css'
@import './style-dashboard.css'
@import './../../node_modules/jquery-confirm/css/jquery-confirm.css'

vino=#65140F
azul=#26bce0
row = #f1f2f2

div.jconfirm-box-container
    margin:0 !important
    width: 100% !important
div.jconfirm-box
    margin 0 !important
    width: 100% !important

a.btn-add
    color white !important
form
    padding: 10px
table
    tr
        cursor pointer
form.volantes
    div.send
        width: 50%
        display: block !important
        margin 20px 0px
    div.destinatario
        width: 350px !important
        input.destinatario
            width 100%
    div.Asunto
        width: 100%
        textarea
            width: 100%
    div.headerVolante,div.bloque1,div.bloque2,div.bloque3,div.bloque4,div.bloque5
        margin-bottom 20px
