{% extends 'layoutTable.twig' %}
{% block btnHeader %}
    <a id="addRegister" href=" /SIA/juridico/Acciones/add" class="btn btn-info btn-add" role="button">
        Añadir Registro
    </a>
{% endblock %}


{% block table %}
    <table class="table table-hover" id="main-table">
        <thead>
        <tr>
            <th scope="col" class="hidden">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estatus</th>
        </tr>
        </thead>
        <tbody>
        {% for accion in acciones %}
            <tr data-ruta="Acciones">

                <td class="hidden">{{ accion.idAccion }}</td>
                <td>{{ accion.nombre }}</td>
                <td>{{ accion.estatus }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}