{% extends 'layoutForm.twig' %}
{% block title %}Añadir Registro{% endblock %}
{% block form %}
<form id="Caracteres" method="POST" action="./add" data-ruta="Caracteres">
    <div class="form-group row">
        <label class="form-control-label col-lg-1" for="siglas">Siglas</label>
        <div class="col-lg-2">
        <input class="form-control" id="siglas" type="text" placeholder="Siglas" required="" pattern="[A-Za-z]{1-5}" name="siglas" title="Inserta una Sigla"/>
        </div>
    </div>
    <div class="form-group row nombre">
        <label class="form-control-label col-lg-1" for="nombre">Nombre</label>
        <div class="col-lg-2">
            <input class="form-control" id="nombre" type="text" placeholder="Nombre" required="" pattern="[A-Za-z]{1-20}" name="nombre" title="Nombre Incorrecto o Caracteres maximos"/>
        </div>
    </div>
    <div class="form-group send">
        <input class="btn btn-info" type="submit" value="Guardar"/>
        <button class="btn btn-danger" id="cancelar">Cancelar</button>
    </div>
</form>
    {% if err %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{ err }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endblock %}