{% extends 'layoutForm.twig' %}
{% block title %}Añadir Registro{% endblock %}
{% block form %}

    <form class="form" id="ObservacionesDoctosJuridico" method="POST" action="/SIA/juridico/observacionesIrac/add" data-ruta="Irac">
        <div class="datos">
            <div class="form-group pagina row">
                <label for="text" class="col-lg-2">Hoja</label>
                <input class="form-control col-lg-2" id="pagina" type="text" name="pagina" required=""/>
                <input id="idVolante" type="hidden" name="idVolante" value="{{ idVolante }}" />
                <input id="cveAuditoria" type="hidden" name="cveAuditoria" value="{{ cveAuditoria }}" />
                <input id="idSubTipoDocumento" type="hidden" name="idSubTipoDocumento" value="{{ idSubTipoDocumento }}" />
            </div>
            <div class="form-group parrafo row">
                <label for="parrafo" class="col-lg-2">Parrafo</label>
                <input class="form-control col-lg-2" id="parrafo" type="text" name="parrafo" required=""/>
            </div>
        </div>
        <div class="form-group observacion row">
            <label for="observacion" class="col-lg-2">Observacion</label>
            <textarea class="form-control col-lg-2" id="ckeditor" rows="3" name="observacion"></textarea>

        </div>
        <div class="envio">
            <div class="form-group send">
                <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
                <button class="btn btn-danger" id="cancelar">Cancelar</button>
            </div>
        </div>
    </form>
    {% if err %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{ err }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}